---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro Images</span></h1>
    <img src="/3astro.png" alt="Astro 3 launch" />
    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/guides/images/"
        title="Image Documentation"
        body="View the Docs on Image Optimization yourself →"
      />
    </ul>
  </main>
</Layout>
